/* Classes for Table of Content styled pages */
.no-bottom-margin {
  margin-bottom: 0 !important;
}

.to-top-link {
  margin-bottom: 1.333em;
  display: inline-block;
}

/* blue boxes */ 
.blue-boxes {
max-height: 450px;
min-height:300px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: rgb(44, 103, 132, 0.2);
color: black
}

.blue-boxes .s3-p-10 {padding: 1.5em;}

.blue-boxes a:hover {
  color:black;
}


/* Long blue boxes */ 
.lg-blue-boxes {
min-height: 460px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: rgb(44, 103, 132, 0.2);
color: black
}

.lg-blue-boxes .s3-p-10 {padding: 1.5em;}

.lg-blue-boxes a:hover {
  color:black;
}


/*Double lines for 3-6 items */
.hr-double-line {
width:50%; 
height:5px; 
border-top:1px solid black; 
border-bottom:1px solid black;
margin: 0 25% 0 25%;
}

/*About the libraries secondary page top level icons */
.about-icons {
  padding-right: 5px;
  padding-left: 5px;
}

.secondary-page-about-icons .sm-card-2 .about-icons .h2{
  float:left;
}

/* mobile viewport styles */
@media only screen and (max-width: 767px)  {
  
/* blue boxes */ 
.blue-boxes {
max-height: 450px;
min-height:300px;

}

.blue-boxes .s3-p-10 {
  padding: 1.5em;
  
}

/* Long blue boxes */ 
.lg-blue-boxes {
min-height: 200px;
margin-bottom:20px

}

.lg-blue-boxes-img {
 display:none;
}

.lg-blue-boxes .btn {
 display:none;
}
}

/* narrow viewport styles */
@media only screen and (min-width: 768px) and (max-width:991px)  {

.lg-blue-boxes-img {
 display:none;
}

.lg-blue-boxes {
min-height: 400px;
padding:1em;
}

  
}

/* narrow viewport styles */
@media only screen and (min-width: 992px) and (max-width:1199px)  {


.lg-blue-boxes {
min-height: 410px;
padding:1em;
}
}
  

/* wide viewport styles */
@media only screen and (min-width: 1200px)  {
 
  
}