div.homepage-news-events-section, .row, .cold-md-12{
 padding: 10px;
}

div.homepage-news-events-section:hover {
  background:#e1d4b7;
  box-shadow:0 0 10px rgba(0,0,0,.1)
}

div#block-libraryevents {
  margin-top: -40px
}