.special-collections-hours{
float: right;
}
.special-collections-hours .table,
#heritage-hours-section .table {
border: 1px solid #CCC;
margin-bottom:15px;
}

/* Heritage and University Archives Home Page */

div#hua-home-page-gallery div.left-column {
  width: 218px;
  float: left;
  padding: 0 5px 10px 5px;
  height: 129px;
  background-size: 218px 129px;
}

div#hua-home-page-gallery div.middle-column {
  width: 218px;
  float: left;
  padding: 0 5px 10px 5px;
  height: 129px;
  background-size: 218px 129px;
}

div#hua-home-page-gallery div.right-column {
  width: 218px;
  float: left;
  padding: 0 5px 10px 5px;
  height: 129px;
  background-size: 218px 129px;
}

div#hua-home-page-gallery a {
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

div#hua-home-page-gallery a:hover {
  text-decoration: none;
}

div#hua-home-page-gallery div#hua-about {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-blog.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-about:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-blog.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-donating {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-donating-1.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-donating:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-donating-1.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-records-transfers {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-records-transfers.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-records-transfers:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-records-transfer.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-research-guides {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-research-guides.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-research-guides:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-research-guides.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-search-collections {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-donating-2.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-search-collections:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-donating-2.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-heritage-museum {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-heritage-museum.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-heritage-museum:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-heritage-museum.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-norwood {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-norwood-reading-room.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-norwood:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-norwood-reading-room.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-diginole {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-legacy-walk.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-diginole:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-legacy-walk.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-exhibits {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-exhibits.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-exhibits:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-exhibits.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-contact {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/bw-contact.png");
  background-repeat: no-repeat;
}

div#hua-home-page-gallery div#hua-contact:hover {
  background-image: url("https://www.lib.fsu.edu/sites/default/files/upload/hua/c-contact.png");
  background-repeat: no-repeat;
}

/* Three-column styles for the HUA page */

/* mobile styles */
@media only screen and (max-width: 739px) {
  div#hua-home-page-gallery {
  float: left;
}
  
  div.three-column-table div.left-column {
    margin: 0 0 1% 0;
    font-size: 110%;
    width: 100%;
  }
  
  div.three-column-table div.middle-column {
    margin: 0 0 1% 0;
    font-size: 110%;
    width: 100%;
  }
  
  div.three-column-table div.right-column {
    margin: 0 0 1% 0;
    font-size: 110%;
    width: 100%;
  }
}

/* narrow styles */
@media only screen and (min-width: 740px) and (max-width: 979px) {
  div.three-column-table div.left-column {
    margin: 0 1% 1% 0;
    font-size: 110%;
  }
  
  div.three-column-table div.middle-column {
    margin: 0 1% 1% 0;
    font-size: 110%;
  }
  
  div.three-column-table div.right-column {
    margin: 0 1% 1% 0;
    font-size: 110%;
  }
}  

/* normal styles */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  div.three-column-table {
    width: 100%;
    display: block;
    overflow: auto;
    margin-bottom: 30px;
  }
  
  div.three-column-table div.left-column {
    margin: 0 1% 1% 0;
    font-size: 110%;
  }
  
  div.three-column-table div.middle-column {
    margin: 0 1% 1% 0;
    font-size: 110%;
  }
  
  div.three-column-table div.right-column {
    margin: 0 0% 1% 0;
    font-size: 110%;
  }
}

/* wide styles */
@media only screen and (min-width: 1200px) {
  div.three-column-table {
    width: 100%;
    display: block;
    overflow: auto;
    margin-bottom: 30px;
  }
  
  div.three-column-table div.left-column {
    margin: 0 13% 1% 0;
    font-size: 120%;
  }
  
  div.three-column-table div.middle-column {
    margin: 0 13% 1% 0;
    font-size: 120%;
  }
  
  div.three-column-table div.right-column {
    margin: 0 0% 1% 0;
    font-size: 120%;
  }
}