.strategic-initiative div.field--label {
font-weight: 600;
margin-top: 28px;
line-height: 1.1;
color: inherit;
font-size: 32px !important;
margin-bottom: 20px !important;
font-family: acumin-pro-condensed, Arial, sans-serif !important;
text-transform: none !important;
}

.view-id-strategic_initiatives_ .views-field.views-field-title {
  padding-top: 10px;
}