/*card styling*/

.study-spaces .col-sm-4, 
.equipment .col-sm-4{
padding:13px;
border: 1px solid #ccc;
/*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
background-color: #f3ede1;
text-align: center;
}

.study-spaces .col-sm-4 {
max-height:400px;
min-height:400px;
}

.equipment .col-sm-4{
max-height:300px;
min-height:300px;
}

.study-spaces .col-sm-4 img,
.equipment .col-sm-4 img {
  margin: auto;
}

/*column styling*/
.study-spaces .views-col{
  min-height:400px;
}

.equipment .views-col {
min-height:300px;
}

.subject-librarians .views-col {
min-height:200px;
max-height:350px;
padding-right:0;
margin:10px;
}


.study-spaces .views-field-field-notes{
  font-weight:bold;
}


/* Styling for search filters*/
.study-spaces, 
.equipment,
.subject-librarians{
  display:block;
  padding-bottom:20px;
}
/*Placement of Filter headers*/
.study-spaces .control-label,
.equipment .control-label,
.subject-librarians .control-label{
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  
}
/*Filter options spacing*/
.study-spaces .form-inline .form-group, 
.equipment .form-inline .form-group,
.subject-librarians .form-inline .form-group {
  margin-right:20px;
}

/*Location filter*/
.study-spaces .views-label-field-study-space-location {
  font-weight: bold;
}


/*Study space card with info*/

/*Space library location*/
.study-spaces .location{
text-align: center;
background-color: #782f40;
font-weight: bold;
color: #ffffff;
margin-bottom:10px;
/*margin-right:31.5px;
margin-left:31.5px;*/
 font-size: 20px;
}

/*Capacity
.study-spaces .capacity{
  display:inline;
}*/

/*Reserve space button*/
.study-spaces .reserve-space,
.study-spaces .views-field-field-request-reservation,
.equipment .catalog-link{
  margin-top:10px;
  text-align:center;
}

/*Button link on card*/
.study-spaces .reserve-space a,
.study-spaces .views-field-field-request-reservation a,
.equipment .catalog-link a{
	color: #782f40; 
	padding:8px; 
	background-color: #FFF; 
	border: 1px solid #782f40;
	border-radius:5px;
	font:Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	/*border-bottom:1px solid #772E3F */
	background-image: none;
}

/*Button link on card- hover and focus changes*/
.study-spaces .reserve-space a:hover, 
.study-spaces .reserve-space a:focus,
.study-spaces .views-field-field-request-reservation a:hover, 
.study-spaces .views-field-field-request-reservation a:focus,
.equipment .catalog-link  a:hover, 
.equipment .catalog-link  a:focus{
	color: #CEB888 !important; 
	background-color:#782f40;
}
/*Button link on card - active */
.study-spaces .reserve-space a:active,
.study-spaces .views-field-field-request-reservation a:active,
.equipment .catalog-link a:active {
	color: #ffffff; 
	background-color: #41111c;
}


/*Apply, Reset*/
#edit-submit-study-space-search, .study-spaces .btn-info, .btn-danger,
#edit-submit-equipment-search, .equipment .btn-info, .btn-danger,
#edit-submit-library-employee-directory, .subject-librarians .btn-info, .btn-danger{
  margin-top:37px;
  margin-left:10px;
}


/*Filter by space type*/
.study-spaces legend{
  font-size:16px;
  font-weight:bold;
  margin-top:5px;
  margin-bottom:10px;
  margin-left:5px;
}

#edit-field-study-space-type-target-id-136, #edit-field-study-space-type-target-id-130, #edit-field-study-space-type-target-id-97 {
  margin:5px;
  }

/* narrow viewport styles */
@media only screen and (min-width: 375px) and (max-width: 767px)  {
 

/*.study-spaces .location{
 font-size: 16px;
}
*/
}
/* normal viewport styles */
@media only screen and (min-width: 768px) and (max-width: 1199px)  {

.study-spaces .location{
 font-size: 16px;
}
 
 .study-spaces .col-sm-4{
max-height:400px;
min-height:400px;
}
  
   .study-spaces .views-field-field-study-space-type,
   .study-spaces .views-field-field-booking-link {
     margin:0 -10px 0 -10px;
   }
}

/* wide viewport styles */
@media only screen and (min-width: 1200px)  {



}
