/* .study-spaces .views-row{
  padding:20px;
}*/

.study-spaces .views-col{
  padding:20px;
  width:30%;
 
} 

/* Styling for filters*/
/*.study-spaces {
  display:block;.
  padding-bottom:20px;
}*/


.study-spaces .control-label {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.study-spaces .form-inline .form-group {
  margin-right:20px;
}

.study-spaces .study-spaces .bef-exposed-form .form--inline .form-item{
  float: "none";
}

#edit-submit-study-space-search {
  margin-top:37px;
}